body {
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 50vw;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1f1f1f;
}
select {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.substat-dropdown {
  padding: 10px;
  width: 100%;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
table {
  width: 100%;
}
tr {
  display: flex;
  flex: 1;
}
td {
  display: flex;
  align-items: center;
  justify-content: center;
}
.substat-column {
  width: 50%;
  text-align: center;
}
.rolls-column {
  width: 50%;
  text-align: center;
}
.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.radio-container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-container label {
  position: relative;
  z-index: 1; /* Ensure label appears above input */
  cursor: pointer;
  background-color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-container input:checked + label {
  background-color: #2196F3;
}
.radio-input {
  width: calc(100%/6); /* the rolls column radio container ignores this length due to exceeding the length of its parent */
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}
.desired-substats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.desired-substats-list {
  display: inline-block;
  text-align: center;
}
.desired-substat-toggle {
  display: none;
}
.desired-substat-container {
  margin: 5px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #666666;
  border: 1px solid black;
  cursor: pointer;
}
.desired-substat-toggle:checked + label {
    background-color: #2196F3;
}
.enhancement-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.enhancement-radio-container {
  height: 40px;
}
.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  height: 34px;
  background-color: #2196F3;
  border: 0px;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
}
button:hover {
  background-color: #1d8ae0;
}
button:active {
  background-color: #0280e0;
}
.table-container {
  display: none;
  max-width: 50vw;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1f1f1f;
}
.cell {
  box-sizing: border-box;
  border: 1px solid #ccc;
}